{% extends "base.html" %}

{% block title %}주문은? AI !{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="chat" class="border p-3 mb-3" style="height: 500px; overflow-y: auto;"></div>
                <div id="chat-input" class="input-group mb-3 justify-content-center">
                    <input id="chat-message-input" type="text" class="form-control" style="width: 80%;" placeholder="메시지를 입력하세요">
                    <button id="chat-message-submit" class="btn btn-primary">전송</button>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center mt-md-5">
                <div class="card" style="width: 100%; max-width: 300px;">
                    <div class="card-body">
                      <h5 class="card-title text-center">직접 처리!</h5>
                      <p class="card-text text-center">아래 버튼을 이용하세요</p>
                    </div>
                </div>
                <div class="card my-2" style="width: 100%; max-width: 300px;">
                    <div class="card-header">
                        <button id="order-btn" class="btn btn-primary w-100">주문</button>
                    </div>
                    <div id="order-sub-buttons" class="card-body d-none">
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary" type="button">메뉴 보기</button>
                        </div>
                    </div>
                </div>
                <div class="card my-2" style="width: 100%; max-width: 300px;">
                    <div class="card-header">
                        <button id="order-query-btn" class="btn btn-primary w-100">주문 조회</button>
                    </div>
                    <div id="order-query-sub-buttons" class="card-body d-none">
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary order-btn" data-order-type="all" type="button">전체 주문</button>
                            <button class="btn btn-secondary order-btn" data-order-type="change" type="button">변경 주문</button>
                            <button class="btn btn-secondary order-btn" data-order-type="cancel" type="button">취소 주문</button>
                        </div>
                    </div>
                </div>
                <div class="card my-2" style="width: 100%; max-width: 300px;">
                    <div class="card-header">
                        <button id="change-order-btn" class="btn btn-primary w-100">주문 변경</button>
                    </div>
                    <div id="change-order-sub-buttons" class="card-body d-none">
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary" type="button">변경할 주문 선택하기</button>
                        </div>
                    </div>
                </div>
                <div class="card my-2" style="width: 100%; max-width: 300px;">
                    <div class="card-header">
                        <button id="cancel-order-btn" class="btn btn-primary w-100">주문 취소</button>
                    </div>
                    <div id="cancel-order-sub-buttons" class="card-body d-none">
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary" type="button">취소할 주문 선택하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_css %}
    {% load static %}
    <style>
        .message-content {
            white-space: pre-wrap;
        }
    </style>
{% endblock %}

{% block include_js %}
    {{ user_id|json_script:"user-id" }}
    {{ request.user.username|json_script:"request-user" }}
{% endblock %}

{% block domready %}
    const userId = JSON.parse(
        document.getElementById("user-id").textContent
    );
    const url = "ws://" + window.location.host +
                "/ws/chat/room/" + userId + "/";
    const chatSocket = new WebSocket(url);
    const requestUser = JSON.parse(
        document.getElementById("request-user").textContent
    );

    let currentOrderId = null; 
    let currentOrderDetails = null;
    let currentRequestType = null;
    let currentConfirmMessage = null;
    let currentToolCallId = null;
    let orderSelected = false; // 주문이 선택되었는지 여부를 추적
    
    chatSocket.onmessage = function(event) {
        console.log("Message received:", event.data);  // 메시지 수신 로그
        const data = JSON.parse(event.data);
        const chat = document.getElementById('chat')

        if (data.message) {
            console.log("appendMessage 실행")
            appendMessage(data, chat);
        }
    
        

        // confirm_message가 있는 경우 orderId 저장
        if (typeof data.confirm_message !== 'undefined' && data.confirm_message !== null) {
            <!-- console.log("confirm_message 존재!", data.confirm_message) -->
            console.log("confirm_message 존재!", data)
            currentOrderId = data.order_id;
            currentRequestType = data.request_type;
            currentConfirmMessage = data.confirm_message;
            currentToolCallId = data.tool_call_id;
        }
    };

    chatSocket.onclose = function(event) {
        console.error('Chat socket closed unexpectedly');
    };

    const input = document.getElementById("chat-message-input");
    const submitButton = document.getElementById("chat-message-submit");

    submitButton.addEventListener("click", function(event) {
        const message = input.value;
        if (message) {
            const data = {
                message: message,
                userId: userId,
                datetime: new Date().toISOString()
            };

            // 서버로 보낼 때 필요한 정보 추가
            if (currentOrderId) {
                data.orderId = currentOrderId;
            }
            if (currentRequestType) {
                data.requestType = currentRequestType;
            }
            if (currentConfirmMessage) {
                data.confirmMessage = currentConfirmMessage;
            }
            if (currentToolCallId) {
                data.toolCallId = currentToolCallId;
            }
            
            console.log("전송 데이터\n", data)
            chatSocket.send(JSON.stringify(data));

            const chat = document.getElementById('chat');
            appendMessage(data, chat, true);
            
            input.value = '';
            input.focus();

            // 한 번 보낸 후에는 다시 초기화
            currentOrderId = null;
            currentRequestType = null;
            currentConfirmMessage = null;
            currentApprovalRequest = null;
            console.log("할당값 초기화\n", currentOrderId, currentRequestType, currentConfirmMessage, currentApprovalRequest)
            
        }
    });

    input.addEventListener("keypress", function(event) {
        if (event.key == "Enter") {
            event.preventDefault();
            submitButton.click();
        }
    });

    function appendMessage(data, chatElement, isLocal = false) {
        const dateOptions = {hour: "numeric", minute: "numeric", hour12: true};
        const datetime = new Date(data.datetime).toLocaleString("ko-KR", dateOptions);
        const source = isLocal ? "me" : (data.user === requestUser ? "me" : "other");
        const name = isLocal ? requestUser : "주문봇";
    
        const messageDiv = document.createElement('div');
        messageDiv.classList.add('message', source);
        messageDiv.innerHTML = `<strong>${name}</strong><span class='date'>${datetime}</span><br><span class='message-content'>${data.message}</span>`;

        chatElement.appendChild(messageDiv);

        if (data.recent_orders) {
            displayRecentOrders(data.recent_orders, chatElement);
        }

        chatElement.scrollTop = chatElement.scrollHeight;
    }

    // chatElement를 파라미터로 받아 recent_orders를 chat에 추가
    function displayRecentOrders(orders, chatElement) {
        const orderList = document.createElement('ul'); // 주문 내역을 위한 새로운 ul 엘리먼트 생성
        orderList.classList.add('list-group');

        orders.forEach(order => {
            const listItem = document.createElement('li');
            listItem.classList.add('order-item'); // CSS 클래스 추가
            let orderDetails = `Order ID: ${order.id}, Status: ${order.order_status}, Created At: ${order.created_at}<br>Items:<ul>`;
            order.items.forEach(item => {
                orderDetails += `<li>${item.product_name} - Quantity: ${item.quantity}, Price: ${item.price}</li>`;
            });
            orderDetails += `</ul>`;
            listItem.innerHTML = orderDetails;
            listItem.addEventListener('click', () => {
                if (!orderSelected) { // 주문이 선택되지 않은 경우에만 선택 가능
                    document.querySelectorAll('.order-item').forEach(item => item.classList.remove('selected'));
                    listItem.classList.add('selected');
                    orderSelected = true; // 주문이 선택됨을 표시

                    // 주문 변경/취소 요청을 서버로 전송
                    currentOrderId = order.id; 
                    currentOrderDetails = orderDetails; 
                    chatSocket.send(JSON.stringify({
                        orderDetails: orderDetails,
                        message: null,
                        userId: userId,
                        datetime: new Date().toISOString(),
                        orderId: order.id
                    }));

                    // 최근 주문 내역을 chat에 표시
                    chatElement.innerHTML += `<div class='message other'>
                        <strong>선택한 주문</strong><br>
                        <span class='message-content'>${orderDetails}</span></div>`;
                    chatElement.scrollTop = chatElement.scrollHeight;

                    // 데이터 전송 후 사용자가 선택한 주문 ID와 주문 초기화
                    currentOrderId = null;
                    orderSelected = false; 
                    console.log("주문 선택 초기화:", currentOrderId);
                }
            });
            orderList.appendChild(listItem);
        });

        // 주문 내역 리스트를 chatElement에 추가
        const orderMessageDiv = document.createElement('div');
        orderMessageDiv.classList.add('message', 'other');
        orderMessageDiv.innerHTML = `<strong>주문 내역</strong><br><span class='message-content'></span>`;
        orderMessageDiv.querySelector('.message-content').appendChild(orderList);

        chatElement.appendChild(orderMessageDiv);
        chatElement.scrollTop = chatElement.scrollHeight;
    }

    input.focus();

    // Function to toggle sub-buttons visibility
    function toggleSubButtons(buttonId, subButtonsId) {
        const button = document.getElementById(buttonId);
        const subButtons = document.getElementById(subButtonsId);
        
        button.addEventListener("click", function() {
            subButtons.classList.toggle("d-none");
        });
    }

    // Toggle sub-buttons for each main button
    toggleSubButtons("order-btn", "order-sub-buttons");
    toggleSubButtons("order-query-btn", "order-query-sub-buttons");
    toggleSubButtons("change-order-btn", "change-order-sub-buttons");
    toggleSubButtons("cancel-order-btn", "cancel-order-sub-buttons");

{% endblock %}
