{% extends "base.html" %}

{% block title %}주문 with AI{% endblock %}

{% block content %}
    <div id="chat">        
    </div>
    <div id="recent-orders" style="display: none;">
        <h3>최근 주문 내역</h3>
        <ul id="order-list"></ul>
    </div>
    <div id="chat-input">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="submit" value="전송">
    </div>
{% endblock %}

{% block include_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block include_js %}
    {{ user_id|json_script:"user-id" }}
    {{ request.user.username|json_script:"request-user" }}
{% endblock %}

{% block domready %}
    const userId = JSON.parse(
        document.getElementById("user-id").textContent
    );
    const url = "ws://" + window.location.host +
                "/ws/chat/room/" + userId + "/";
    const chatSocket = new WebSocket(url);
    const requestUser = JSON.parse(
        document.getElementById("request-user").textContent
    );

    let currentOrderId = null; 
    let currentOrderDetails = null;
    let currentConfirmMessage = null;
    let currentApprovalRequest = null;
    
    chatSocket.onmessage = function(event) {
        console.log("Message received:", event.data);  // 메시지 수신 로그
        const data = JSON.parse(event.data);
        const chat = document.getElementById('chat')

        let messageContent = data.message;

        // 이중 직렬화된 recent_orders 처리
        if (messageContent.includes('"recent_orders":')) {
            const parsedMessage = JSON.parse(messageContent);
            if (parsedMessage.recent_orders) {
                displayRecentOrders(parsedMessage.recent_orders);
            }
        } else {
            appendMessage(data, chat);
        }

        // confirm_message가 있는 경우 orderId 저장
        if (data.confirm_message !== null) {
            currentOrderId = data.order_id;
            currentConfirmMessage = data.confirm_message;
            currentApprovalRequest = data.approval_request;
        }
    };

    chatSocket.onclose = function(event) {
        console.error('Chat socket closed unexpectedly');
    };

    const input = document.getElementById("chat-message-input");
    const submitButton = document.getElementById("chat-message-submit");

    submitButton.addEventListener("click", function(event) {
        const message = input.value;
        if (message) {
            const data = {
                message: message,
                userId: userId,
                datetime: new Date().toISOString()
            };

            // 서버로 보낼 때 필요한 정보 추가
            if (currentOrderId) {
                data.orderId = currentOrderId;
            }
            if (currentOrderDetails) {
                data.orderDetails = currentOrderDetails;
            }
            if (currentConfirmMessage) {
                data.confirmMessage = currentConfirmMessage;
            }
            if (currentApprovalRequest) {
                data.approvalRequest = currentApprovalRequest;
            }
            

            chatSocket.send(JSON.stringify(data));

            const chat = document.getElementById('chat');
            appendMessage(data, chat, true);
            
            input.value = '';
            input.focus();

            // 한 번 보낸 후에는 다시 초기화
            currentOrderId = null;
            currentOrderDetails = null;
            currentConfirmMessage = null;
            currentExecutionConfirmation = null;
        }
    });

    input.addEventListener("keypress", function(event) {
        if (event.key == "Enter") {
            event.preventDefault();
            submitButton.click();
        }
    });

    function appendMessage(data, chatElement, isLocal = false) {
        const dateOptions = {hour: "numeric", minute: "numeric", hour12: true};
        const datetime = new Date(data.datetime).toLocaleString("ko-KR", dateOptions);
        const source = isLocal ? "me" : (data.user === requestUser ? "me" : "other");
        const name = isLocal ? requestUser : "주문봇";
    
        chatElement.innerHTML += `<div class='message ${source}'>
            <strong>${name}</strong>
            <span class='date'>${datetime}</span><br>
            ${data.message}</div>`;
        chatElement.scrollTop = chatElement.scrollHeight;
    }

    function displayRecentOrders(orders) {
        const recentOrdersDiv = document.getElementById('recent-orders');
        const orderList = document.getElementById('order-list');

        orderList.innerHTML = ''; // 기존 주문 내역 초기화
        orders.forEach(order => {
            const listItem = document.createElement('li');
            listItem.classList.add('order-item'); // CSS 클래스 추가
            let orderDetails = `Order ID: ${order.id}, Status: ${order.order_status}, Created At: ${order.created_at}<br>Items:<ul>`;
            order.items.forEach(item => {
                orderDetails += `<li>${item.product_name} - Quantity: ${item.quantity}, Price: ${item.price}</li>`;
            });
            orderDetails += `</ul>`;
            listItem.innerHTML = orderDetails;
            listItem.addEventListener('click', () => {
                document.querySelectorAll('.order-item').forEach(item => item.classList.remove('selected'));
                listItem.classList.add('selected');

                // 주문 변경/취소 요청을 서버로 전송
                currentOrderId = order.id; 
                currentOrderDetails = orderDetails; 
                chatSocket.send(JSON.stringify({
                    orderDetails: orderDetails,
                    message: null,
                    userId: userId,
                    datetime: new Date().toISOString(),
                    orderId: order.id
                }));
            });
            orderList.appendChild(listItem);
        });

        recentOrdersDiv.style.display = 'block';
    }

    input.focus();

{% endblock %}