.order-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.order-item:hover {
    background-color: #ffeb3b; /* 밝은 노란색 */
}

.order-item.selected {
    background-color: #ff9800; /* 밝은 주황색 */
}
.navbar-custom {
    background-color: #ffeb3b; /* 노란색 배경 */
}
.navbar-brand-custom {
    font-size: 2rem; /* 글자 크기 키우기 */
    text-align: center; /* 가운데 정렬 */
}
.nav-item .nav-link {
    white-space: nowrap; /* 줄바꿈 방지 */
}

.message-content {
    white-space: pre-wrap;
}
